[submodule "external/LP_MP"]
	path = external/LP_MP
	url = https://github.com/pawelswoboda/LP_MP.git
[submodule "external/PEGTL"]
	path = external/PEGTL
	url = https://github.com/taocpp/PEGTL.git
	branch = 1.3.x
[submodule "external/MCF-SSP"]
	path = external/MCF-SSP
	url = https://github.com/pawelswoboda/MCF-SSP.git
